<div class="User-info">
  <div class="Media">
    <div class="Media-image Circle--big ">AIS</div>
    <div class="Media-body">
      <p class="User-strategic">Estrategianombre</p>
      <div class="is-flex">
        <p class="is-tx-white">Nombre de Usuario</p>
        <button type="button" class="Btn Btn-counter" data-toggle="popover" data-content-id="popover-user" popover-position="bottom-left">+2</button>
      </div>
    </div>
  </div>

  <div class="Description">
    <p class="Description-text js-clamp">TSM is absolutely passionate about automated, systematic trading, and to drive system lorem ipsum dolor sit ame Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum eligendi exercitationem provident necessitatibus, excepturi adipisci deleniti amet veritatis natus quasi at ipsum alias, facilis autem. Sit praesentium nulla, ad hic.</p>
    <button class="Btn Description-button js-button-description">
      <?xml version="1.0" encoding="UTF-8" standalone="no"?>
        <svg width="10px" height="6px" viewBox="0 0 10 6" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xli
          <title>Shape</title>
          <desc>Created with Sketch.</desc>
          <defs></defs>
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="001-prueba-maquetacion-desktop" transform="translate(-651.000000, -146.000000)" fill="#D8D8D8">
              <g id="cabecera" transform="translate(194.000000, 73.000000)">
                  <g id="Nivel" transform="translate(0.000000, 64.000000)">
                      <path d="M464.089416,8.13758439 C464.351377,7.87731951 464.351377,7.45539897 464.089416,7.19517099 C463.827491,6.934943 463.402766,6.934943 463.140805,7.19517099 L459.194112,11.1203195 C459.054517,11.2589921 458.991692,11.4434463 459.000878,11.6249862 C458.991692,11.8065629 459.054517,11.9909802 459.194112,12.1296897 L463.140805,16.0548013 C463.402766,16.3150662 463.827454,16.3150662 464.089416,16.0548013 C464.351377,15.7945734 464.351377,15.3726528 464.089416,15.1124617 L460.582831,11.6249862 L464.089416,8.13758439 Z" id="Shape" transform="translate(461.642943, 11.625000) rotate(-90.000000) translate(-461.642943, -11.625000) "></path>
                  </g>
              </g>
            </g>
          </g>
        </svg>
    </button>
  </div>
</div>
