.is-red {
  background-color: red;
}

.is-green {
  background-color: green;
}

.is-pink {
  background-color: pink;
}

.is-purple {
  background-color: purple;
}

.is-orange {
  background-color: orange;
}

.is-yellow {
  background-color: yellow;
}

.is-blue {
  background-color: blue;
}

.is-white {
  background-color: white;
}
