.is-red {
  background-color: red;
}

.is-green {
  background-color: #AAFF00;
}

.is-pink {
  background-color: pink;
}

.is-purple {
  background-color: #D267C6;
}

.is-orange {
  background-color: #FB6533;
}

.is-yellow {
  background-color: #EFAA42;
}

.is-blue {
  background-color: blue;
}

.is-white {
  background-color: white;
}

.is-black {
  background-color: #1F1F1F;
}

.is-tx-green {
  color: #AAFF00;
}

.is-tx-orange {
  color: #FB6533;
}

.is-tx-white {
  color: $white;
}
