.is-hidden-tablet {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.is-hidden-desktop {
  @media screen and (min-width: 1024px) {
    display: none;
  }
}

.is-hidden {
  display: none;
}
