{% extends "layout/application.html" %}

{% block maincontent %}
<div class="Menu-left">
  <div class="Title va-center">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="8" height="18" viewBox="0 0 8 18" version="1.1" class="mr0">
      <title>
        Group 7
      </title>
      <desc>
        Created with Sketch.
      </desc>
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="1" transform="translate(-6.000000, -58.000000)" fill="#5A5A5A">
          <g id="menuizq" transform="translate(0.000000, 50.000000)">
            <g id="principal">
              <g id="Cabecera-Principal">
                <g id="Group-7" transform="translate(6.000000, 8.000000)">
                  <circle id="Combined-Shape" cx="1.5" cy="1.5" r="1.5"/>
                  <circle id="Combined-Shape" cx="6.5" cy="1.5" r="1.5"/>
                  <circle id="Combined-Shape" cx="1.5" cy="6.5" r="1.5"/>
                  <circle id="Combined-Shape" cx="6.5" cy="6.5" r="1.5"/>
                  <circle id="Combined-Shape" cx="1.5" cy="11.5" r="1.5"/>
                  <circle id="Combined-Shape" cx="6.5" cy="11.5" r="1.5"/>
                  <circle id="Combined-Shape" cx="1.5" cy="16.5" r="1.5"/>
                  <circle id="Combined-Shape" cx="6.5" cy="16.5" r="1.5"/>
                </g>
              </g>
            </g>
          </g>
        </g>
      </g>
    </svg>
    <h6 class="text-uppercase">principal</h6>
  </div>
  <ul class="Menu-list">
    <li class="Menu-list-item">
      <a href="#" class="va-center">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15" height="15" viewBox="0 0 15 15" version="1.1" class="mr15">
          <title>
            explorar-icon
          </title>
          <desc>
            Created with Sketch.
          </desc>
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="1" transform="translate(-15.000000, -93.000000)" fill="#ADAFB2">
              <g id="menuizq" transform="translate(-1.000000, 50.000000)">
                <g id="principal" transform="translate(1.000000, 0.000000)">
                  <path d="M22.5 49.68C22.05 49.68 21.68 50.05 21.68 50.5 21.68 50.95 22.05 51.33 22.5 51.33 22.95 51.33 23.33 50.95 23.33 50.5 23.33 50.05 22.95 49.68 22.5 49.68L22.5 49.68ZM22.5 43C18.38 43 15 46.38 15 50.5 15 54.63 18.38 58 22.5 58 26.63 58 30 54.63 30 50.5 30 46.38 26.63 43 22.5 43L22.5 43ZM24.15 52.15L18 55 20.85 48.85 27 46 24.15 52.15 24.15 52.15Z" id="explorar-icon"/>
                </g>
              </g>
            </g>
          </g>
        </svg>

        Explorar
      </a>
    </li>
    <li class="Menu-list-item">
      <a href="#" class="va-center m-l-1">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15" height="15" viewBox="0 0 15 15" version="1.1" class="mr15">
          <title>
            explorar-icon
          </title>
          <desc>
            Created with Sketch.
          </desc>
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="1" transform="translate(-15.000000, -93.000000)" fill="#ADAFB2">
              <g id="menuizq" transform="translate(-1.000000, 50.000000)">
                <g id="principal" transform="translate(1.000000, 0.000000)">
                  <path d="M22.5 49.68C22.05 49.68 21.68 50.05 21.68 50.5 21.68 50.95 22.05 51.33 22.5 51.33 22.95 51.33 23.33 50.95 23.33 50.5 23.33 50.05 22.95 49.68 22.5 49.68L22.5 49.68ZM22.5 43C18.38 43 15 46.38 15 50.5 15 54.63 18.38 58 22.5 58 26.63 58 30 54.63 30 50.5 30 46.38 26.63 43 22.5 43L22.5 43ZM24.15 52.15L18 55 20.85 48.85 27 46 24.15 52.15 24.15 52.15Z" id="explorar-icon"/>
                </g>
              </g>
            </g>
          </g>
        </svg>

        All Darwin
      </a>
    </li>
    <li class="Menu-list-item">
      <a href="#" class="va-center m-l-1">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15" height="15" viewBox="0 0 15 15" version="1.1" class="mr15">
          <title>
            explorar-icon
          </title>
          <desc>
            Created with Sketch.
          </desc>
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="1" transform="translate(-15.000000, -93.000000)" fill="#ADAFB2">
              <g id="menuizq" transform="translate(-1.000000, 50.000000)">
                <g id="principal" transform="translate(1.000000, 0.000000)">
                  <path d="M22.5 49.68C22.05 49.68 21.68 50.05 21.68 50.5 21.68 50.95 22.05 51.33 22.5 51.33 22.95 51.33 23.33 50.95 23.33 50.5 23.33 50.05 22.95 49.68 22.5 49.68L22.5 49.68ZM22.5 43C18.38 43 15 46.38 15 50.5 15 54.63 18.38 58 22.5 58 26.63 58 30 54.63 30 50.5 30 46.38 26.63 43 22.5 43L22.5 43ZM24.15 52.15L18 55 20.85 48.85 27 46 24.15 52.15 24.15 52.15Z" id="explorar-icon"/>
                </g>
              </g>
            </g>
          </g>
        </svg>

        Darwinia
      </a>
    </li>
  </ul>
</div>
<div class="Main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="row is-red">
          <div class="col-xs-2 col-sm-2 col-md-2">Avatar</div>
          <div class="col-xs-10 col-sm-10 col-md-10">Nombre</div>
        </div>
        <div class="row is-white">
         <div class="col-xs-12 col-sm-12 col-md-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates atque, quo libero iusto mollitia, nemo cumque, blanditiis sint qui tempore nobis impedit accusantium numquam. Numquam delectus, esse voluptatum dicta. Modi.</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="Menu">
            <div class="row">
             <div class="col-xs-2 col-sm-2 col-md-1 is-purple">Column1</div>
             <div class="col-xs-2 col-sm-2 col-md-1 is-yellow">Column2</div>
             <div class="col-xs-3 col-sm-3 col-md-3 is-orange">Column3</div>
             <div class="col-xs-3 col-sm-3 col-md-5 is-blue">Column4</div>
             <div class="col-xs-2 col-sm-2 col-md-2 is-red">Column5</div>
            </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="Cards">
            <div class="row">
             <div class="col-xs-12 col-sm-12 col-md-10 is-blue">Column1</div>
             <div class="col-xs-12 col-sm-12 col-md-2 is-red">Column2</div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <ul class="Stats is-blue">
                 <li class="Stat is-orange">Column1</li><!--
                  --><li class="Stat is-green">Column2</li><!--
                 --><li class="Stat is-yellow">Column3</li><!--
                 --><li class="Stat is-pink">Column4</li><!--
                 --><li class="Stat is-yellow">Column5</li><!--
                 --><li class="Stat is-yellow">Column6</li><!--
                 --><li class="Stat is-yellow">Column7</li><!--
                 --><li class="Stat is-yellow">Column8</li>
                </ul>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
