{% extends "layout/application.html" %}

{% block maincontent %}
<div class="Menu-left">
  {% include "partials/traders.html" %}
  {% include "partials/menu-main.html" %}
</div>
<div class="Main-content js-main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        {% include "partials/user-info.html" %}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        {% include "partials/menu-action.html" %}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="Slider-control">
          <div class="row">
            <div class="col-xs-6 col-md-10">
              <span class="is-bold">729</span> <span>Darwins encontrados</span>
            </div>
            <div class="col-xs-6 col-md-2 text-right">
              <button class="Btn Btn--rounded Btn-slide" id="btn-slide-left">
                <?xml version="1.0" encoding="UTF-8" standalone="no"?>
                  <svg width="6px" height="10px" viewBox="0 0 6 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xli
                      <title>Shape</title>
                      <desc>Created with Sketch.</desc>
                      <defs></defs>
                      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <g id="001-prueba-maquetacion-desktop" transform="translate(-971.000000, -277.000000)" fill="#D8D8D8">
                              <g id="herramientas-filtrado" transform="translate(194.000000, 206.000000)">
                                  <g id="Group-8" transform="translate(769.000000, 65.000000)">
                                      <path d="M9.58283059,10.6249862 L13.0894156,7.13758439 C13.3513775,6.87731951 13.3513775,6.45539897 13.0894156,6.19517099 C12.8274906,5.934943 12.4027664,5.934943 12.1408045,6.19517099 L8.19411181,10.1203195 C8.05451687,10.2589921 7.99169177,10.4434463 8.00087759,10.6249862 C7.99169177,10.8065629 8.05451687,10.9909802 8.19411181,11.1296897 L12.1408045,15.0548013 C12.4027664,15.3150662 12.8274537,15.3150662 13.0894156,15.0548013 C13.3513775,14.7945734 13.3513775,14.3726528 13.0894156,14.1124617 L9.58283059,10.6249862 L9.58283059,10.6249862 Z" id="Shape"></path>
                                  </g>
                              </g>
                          </g>
                      </g>
                  </svg>
              </button>
              <button class="Btn Btn--rounded Btn-slide" id="btn-slide-right">
                <?xml version="1.0" encoding="UTF-8" standalone="no"?>
                <svg width="6px" height="10px" viewBox="0 0 6 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xl
                    <title>Shape</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="001-prueba-maquetacion-desktop" transform="translate(-1001.000000, -277.000000)" fill="#D8D8D8">
                            <g id="herramientas-filtrado" transform="translate(194.000000, 206.000000)">
                                <g id="Group-8" transform="translate(769.000000, 65.000000)">
                                    <path d="M39.5828306,10.6249862 L43.0894156,7.13758439 C43.3513775,6.87731951 43.3513775,6.45539897 43.0894156,6.19517099 C42.8274906,5.934943 42.4027664,5.934943 42.1408045,6.19517099 L38.1941118,10.1203195 C38.0545169,10.2589921 37.9916918,10.4434463 38.0008776,10.6249862 C37.9916918,10.8065629 38.0545169,10.9909802 38.1941118,11.1296897 L42.1408045,15.0548013 C42.4027664,15.3150662 42.8274537,15.3150662 43.0894156,15.0548013 C43.3513775,14.7945734 43.3513775,14.3726528 43.0894156,14.1124617 L39.5828306,10.6249862 L39.5828306,10.6249862 Z" id="Shape" transform="translate(40.642943, 10.625000) rotate(-180.000000) translate(-40.642943, -10.625000) "></path>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-12">
            <div class="Stats">
              {% include "partials/cards.html" %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/template" id="popover-user">
  {% include "partials/popover-user.html" %}
</script>

<script type="text/template" id="popover-order">
  {% include "partials/popover-order.html" %}
</script>

{% endblock %}
