.Btn {
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 12px;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.25s;
  vertical-align: middle;
}

.Btn-traders {
  width: 100%;
  padding: 1.2rem;
  color: $white;
  text-align: left;
  display: flex;
}

.Btn-tradersIcon {
  margin-left: auto;
}

.Btn-account {
  font-size: 11px;
  padding: 0.5rem 3.2rem;
  border-radius: 17px;
  background-color: white;
  color: #4A4A4A;

  &:hover {
    background-color: #E6E6E6;
  }
}
