.Btn {
  appearance: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 11px;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 0;
  text-decoration: none;
  transition: 0.25s;
  vertical-align: middle;
}

.Btn-base {
  min-height: 20px;
  padding: 0 1.15rem;
}

.Btn-base--big {
  padding: 0 3.2rem;
}

.Btn--semirounded {
  border-radius: 16px;
}

.Btn--rounded {
  border-radius: 50%;
}
