.Cards {
  width: 300px;
  background-color: #2C2C2C;
  display: inline-block;
}

.Cards-top {
  padding: 1.5rem 1rem;
  font-size: 1.3rem;
  font-weight: 600;
}

.Cards-header {
  display: flex;
  justify-content: space-between;

  .Media-image {
    color: $white;
    font-size: 1rem;
    margin-right: 0.5rem;
    font-weight: 400;
  }
}

.Btn-trade {
  box-shadow: inset 0 0 0 2px #AAFF00;
  font-weight: 600;
  font-size: 12px;
  color: #FFFFFF;

  &:hover {
    background-color: #AAFF00;
    color: $black;
  }
}

.Cards-graphic {
  padding: 3rem;
}

.Number {
  margin-right: 0.3rem;
  vertical-align: middle;
}

.Btn:active {
  .Cards-Icon-folder {
    fill: $sky-blue;
  }
}

.Cards-Icon-folder {
  fill: $white;
}

.Cards-initials {
  color: $white;
  margin-right: 0.5rem;
}

.Cards-content-item {
  padding: 1.5rem 1rem;
  border-bottom: 1px solid #505050;
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;

  .Media-image {
    margin-right: 0.8rem;
  }

  .Media-body {
    font-weight: 700;
    color: $white;
  }


  &:last-of-type {
    border-botton: 0;
  }

  &:first-of-type {
    border-top: 1px solid #505050;
  }
}

