.Description {
  align-items: flex-start;
  display: flex;
  max-width: 440px;

  overflow: hidden;
  position: relative;
  line-height: 1.2rem;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 1.2rem * 3;
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify;
  /* place for '...' */
  margin-right: -1em;
  padding-right: 1em;

  &:before {
    content: '...';
    position: absolute;
    right: 25px;
    bottom: 0;
  }

  &.has-openDescription {
    max-height: 1.2rem * 10;

    &:before {
      content: '';
    }
  }
}

.Description-text {
  color: $white;
  font-size: 1.3rem;
  line-height: 1.8rem;
  position: relative;
  width: calc(100% - 25px);

  &:after {
    background-image: linear-gradient(-180deg, rgba(32,32,32,0.00) 0%, #202020 100%);
    top: 2rem;
    content: "";
    height: 1.5rem;
    position: absolute;
    right: 0;
    text-align: right;
    left: 0;
  }

  .has-openDescription & {
    display: block;
    height: 100%;
    overflow : visible;

    &:after {
      background-image: none;
    }
  }
}

.Description-button {
  margin-top: 4px;
  margin-left: auto;

  .has-openDescription & {
    transform: scaleY(-1);
  }
}


