.Description {
  display: flex;
  align-items: flex-start;
}

.Description-text {
  font-size: 1.3rem;
  line-height: 1.8rem;
  width: 440px;
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: $white;
}

.Description-button {
  margin-top: 4px;

  &.has-openDescription {
    transform: scaleY(-1);
  }
}

.has-openDescription {
  overflow : visible;
  display: block;
}
