.Main-content {
  width: 100%;
  transition: transform 0.3s;
  background-color: $light-black;
  padding: 2.2rem 0;

  .has-menuOpen & {
    transform: translateX(188px);
  }

  @media (min-width: $screen-md) {
    width: calc(100% - 188px);

    &,
    .has-menuOpen & {
      transition: none;
      transform: translateX(0);
    }
  }
}
