.Menu-left {
  background-color: $main-color;
  bottom: 0;
  font-size: 1rem;
  position: absolute;
  top: 0;
  transform: translateX(-188px);
  transition: transform 0.3s;
  width: 188px;

  .Title {
    color: #B6B6B6;
    padding: 0 0.5rem;

    h6 {
      letter-spacing: 3px;
      line-height: 3.5rem;
    }
  }

  .has-menuOpen & {
    transform: translateX(0);
  }

  @media (min-width: $screen-md) {
    & {
      position: relative;
      transform: translateX(0);
      transition: none;
    }
  }
}

.Title-icon {
  margin-right: 0.5rem;
}

.Menu-list-item {
  line-height: 3rem;
  padding: 0 1.5rem;

  a {
    color: $font-color;
  }
}

.Menu-list-icon {
  margin-right: 1.5rem;
}
