.Menu-left {
  background-color: $main-color;
  height: 100vh;
  height: calc(100vh - 50px);
  transform: translateX(-188px);
  transition: transform 0.3s;
  font-size: 1rem;
  position: absolute;
  width: 188px;

  .Title {
    color: #B6B6B6;
    padding: 0 0.5rem;

    h6 {
      line-height: 3.5rem;
    }
  }

  .has-menuOpen & {
    transform: translateX(0);
  }

  @media (min-width: $screen-md) {
    & {
      position: relative;
      transform: translateX(0);
    }
  }
}

.Title-icon {
  margin-right: 0.5rem;
}

.Menu-list-item {
  padding: 0 1.5rem;
  line-height: 3rem;

  a {
    color: $font-color;
  }
}

.Menu-list-icon {
  margin-right: 1.5rem;
}
