.Stats {
  overflow: hidden;
}

.Stats-list {
  white-space: nowrap;
}

.Stat {
  display: inline-block;
  width: calc(33.3333% - 8px);
  margin-right: 16px;

  &:last-child {
    margin-right: 0;
  }

  @media (min-width: 1600px) {
    & {
      width: calc(25% - 45px);
    }

  }

}
