.Traders {
  background-color: #3DA0CC;
  bottom: 0;
  position: absolute;
  width: 100%;
}

.Traders-content {
  display: none;
}

.Traders-item {
  line-height: 3rem;
  padding: 0 1.5rem;

  &:last-of-type {
    border-bottom: 1px solid #0089AD;
  }
}

.Traders-item-link {
  color: $white;

  &:hover {
    color: $white;
  }
}

.Traders-itemIcon {
  margin-right: 15px;
  min-width: 16px;
}

.Btn-traders {
  background-color: #3DA0CC;
  color: $white;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1.2rem 1.5rem;
  width: 100%;

  &:hover {
    background-color: #3293BE;
  }
}

.Btn-tradersIcon {
  margin-left: auto;
  display: none;
}

.Traders-account {
  padding: 0.75rem;
  color: #4A4A4A;
  text-transform: uppercase;
  text-align: center;
}

.Btn-account {
  background-color: $white;
  font-size: 1.1rem;
  text-transform: uppercase;

  &:hover {
    background-color: #E6E6E6;
  }
}

.Open-traders {
  .Traders-content {
    display: block;
  }

  .Btn-tradersIcon {
    display: inline-block;
  }
}


