.User-info {
  .Media-image {
    margin-right: 1rem;
  }
}

.User-strategic {
  margin-bottom: 0.3rem;
  font-size: 1.2rem;
}

.Btn-counter {
  background: #505050;
  color: $sky-blue;
  font-weight: 700;
  font-size: 1.1rem;
  padding: 0 0.4rem;
  margin-left: 0.5rem;
  border-radius: 2px;
}
