.User-info {
  border-bottom: 1px solid $border-color;
  margin-bottom: 16px;
  padding-bottom: 16px;

  .Media {
    margin-bottom: 1.6rem;
  }

  .Media-image {
    margin-right: 1rem;
  }
}

.User-strategic {
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
}

.Btn-counter {
  background: #505050;
  border-radius: 2px;
  color: $sky-blue;
  font-size: 1.1rem;
  font-weight: 700;
  margin-left: 0.5rem;
  padding: 0 0.4rem;
}
